/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Request-request
import io.swagger.client.model.RequestPathsInvokePost200ApplicationJsonResponse
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DefaultApi {

  /**
   * Trigger the search. Even though this is gets item we do it as a post in order to have flexibility in the passing the parameters.
   * 
   * Expected answers:
   *   code 200 : RequestPathsInvokePost200ApplicationJsonResponse (The Logic App Response.)
   * 
   * Available security schemes:
   *   apiKeyQuery (apiKey)
   *   apiKeyHeader (apiKey)
   * 
   * @param &#x60;content-Type&#x60; 
   * @param &#x60;request-request&#x60; The request body.
   */
  def requestInvoke(&#x60;content-Type&#x60;: String, &#x60;request-request&#x60;: Option[Request-request] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[RequestPathsInvokePost200ApplicationJsonResponse] =
    ApiRequest[RequestPathsInvokePost200ApplicationJsonResponse](ApiMethods.POST, "https://prod-12.eastus2.logic.azure.com/search", "/request/paths/invoke", "application/json")
      .withApiKey(apiKey, "subscription-key", QUERY)
      .withApiKey(apiKey, "Ocp-Apim-Subscription-Key", HEADER)
      .withBody(&#x60;request-request&#x60;)
      .withHeaderParam("Content-Type", &#x60;content-Type&#x60;)
      .withSuccessResponse[RequestPathsInvokePost200ApplicationJsonResponse](200)
      

}

